html,
body {
  font-family: "Roboto Condensed", sans-serif;
  letter-spacing: 0.05em;
  color: #444444;
  font-size: 18px;
  display: flex;
  flex-direction: column;
}

/* ================== */
/* for top tab illust */
/* ================== */
.upper__inner,
.lower__inner {
  display: flex;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}

.upper {
  background: #e3e5e9;
  height: 60px;
  width: 100%;
}

.upper__inner {
  align-items: flex-end;
  height: 100%;
}

.browser-buttons {
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
  margin-right: 30px;
}
.browser-button {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 10px;
}

.browser-button-red {
  background: #ee453b;
}

.browser-button-yellow {
  background: #e3a71d;
}

.browser-button-green {
  background: #1eb735;
}

.compressed-tabs {
  display: flex;
  height: 100%;
  align-items: flex-end;
  padding-bottom: 10px;
}

.compressed-tab {
  width: 2px;
  height: 60%;
  background: #999999;
  margin-right: 15px;
}

.common-cross-mark {
  width: 3px;
  height: 20px;
  background: #444444;
  position: relative;
}
.common-cross-mark:before {
  content: "";
  position: absolute;
  width: 3px;
  height: 20px;
  background: #444444;
  transform: rotate(90deg);
}

.rotate {
  transform: rotate(45deg);
}

.add-close-block {
  display: flex;
  align-items: center;
  height: 85%;
  margin-left: auto;
  margin-right: 60px;
}

.single-tab {
  height: 100%;
  position: relative;
  margin: 0 30px;
}

.single-tab-deco {
  position: relative;
  display: flex;
  width: 50px;
  height: 100%;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  border-radius: 10px 10px 0 0;
}

.single-tab:before,
.single-tab:after {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  z-index: 2;
  bottom: 0;
  background: #ffffff;
}

.single-tab-deco:before,
.single-tab-deco:after {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  z-index: 3;
  bottom: 0;
  background: #e3e5e9;
}

.single-tab:before,
.single-tab-deco:before {
  left: -20px;
}

.single-tab-deco:before {
  border-radius: 0 0 10px 0;
}

.single-tab:after,
.single-tab-deco:after {
  right: -20px;
}

.single-tab-deco:after {
  border-radius: 0 0 0 10px;
}

.lower {
  background: #ffffff;
  border-bottom: 2px solid #e3e5e9;
  padding: 10px 0;
  position: relative;
}

.lower__inner {
  justify-content: space-between;
}

.searchbox {
  width: 80%;
  height: 35px;
  margin-right: auto;
  background: #eef1f3;
  border-radius: 30px;
}

.extension-icon__s {
  width: 30px;
  height: 30px;
}

/* ================== */
/* for animation      */
/* ================== */
.extension-img__s {
  position: absolute;
  width: 230px;
  top: 50px;
  right: 50px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
}

.extension-img__l {
  width: 800px;
  margin: 0 auto;
}

.extension-name {
  font-family: "Teko", sans-serif;
  font-size: 80px;
  font-weight: normal;
  color: #1b8f68;
  line-height: 1;
  text-align: center;
  margin-bottom: 10px;
  letter-spacing: 0;
}

.extension-icon__l {
  display: inline-block;
  width: 55px;
  height: 55px;
  margin-left: 12px;
}

.service-info {
  width: 320px;
  margin: 18vh auto 60px;
  text-align: center;
}

.hidden {
  display: none;
}

/* ================== */
/* for main part      */
/* ================== */
.explain-details {
  font-size: 18px;
}

.download-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 320px;
  height: 50px;
  margin: 30px 0 0;
  background: #1b8f68;
  border-radius: 5px;
  color: #ffffff;
  text-decoration: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.download-link:hover {
  background: #115b7b;
  transition: background 0.5s;
}

/* ================== */
/* copyright          */
/* ================== */
.dev-name {
  display: block;
  text-align: center;
  margin: auto auto 40px;
}

@media screen and (min-width: 601px) and (max-width: 890px) {
  /* ================== */
  /* for main part      */
  /* ================== */
  .service-info {
    width: 80%;
  }

  .extension-name,
  .explain-details {
    text-align: left;
  }
}

@media only screen and (max-width: 600px) {
  /* ================== */
  /* for top tab illust */
  /* ================== */
  .upper {
    height: 50px;
  }

  .browser-buttons {
    margin-right: 20px;
  }

  .browser-button {
    width: 20px;
    height: 20px;
    margin-right: 8px;
  }

  .add-close-block {
    margin-right: 20px;
  }

  .compressed-tab {
    margin-right: 10px;
  }

  .extension-img {
    display: none;
  }

  .common-cross-mark,
  .common-cross-mark:before {
    width: 4px;
    height: 20px;
  }

  .single-tab {
    margin: 0 20px;
  }

  .single-tab-deco {
    width: 40px;
  }

  .single-tab:before,
  .single-tab:after {
    width: 10px;
    height: 10px;
  }

  .single-tab-deco:before,
  .single-tab-deco:after {
    width: 10px;
    height: 10px;
  }

  .single-tab:before,
  .single-tab-deco:before {
    left: -10px;
  }

  .single-tab-deco:before {
    border-radius: 0 0 5px 0;
  }

  .single-tab:after,
  .single-tab-deco:after {
    right: -10px;
  }

  .single-tab-deco:after {
    border-radius: 0 0 0 5px;
  }

  .lower {
    padding: 10px 0;
    border-bottom: 3px solid #e3e5e9;
  }

  .searchbox {
    height: 30px;
  }

  .extension-icon__s {
    width: 18px;
    height: 18px;
  }

  /* ================== */
  /* for main part      */
  /* ================== */
  .service-info {
    width: 85%;
    margin: 12vh auto 20px;
  }

  .explain-details {
    font-size: 24px;
    margin: 20px 0 40px;
  }

  .br {
    display: none;
  }

  .download-link {
    width: 100%;
    font-size: 20px;
  }

  /* ================== */
  /* copyright          */
  /* ================== */
  .dev-name {
    width: 80%;
    font-size: 20px;
    margin: auto auto 30px;
    font-size: 18px;
  }
}
